[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qcelemental = "*"
tcpb = {editable = true, path = "."}

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
